@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria:#000000;
    --cor-secundaria:#700B97;
    --cor-terciaria:#030327;
    --cor-quaternaria:#ffffff;

    --texto-primario:'Montserrat', sans-serif;
    --texto-secundario:'Krona One', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-image: url(hbo_max_followup_logo.jpg);
    background-size: cover;
    color: #000000;
    font-size: 16px;
    line-height: 1.5;
}

.cabecalho {
    padding: 1.5%;
    background-color: #030327;
}

.cabecalho__menu {
    display: flex;
    justify-content: center;
    gap: 80px;

}

.cabecalho__menu__link__pes:hover {
    background-color: #ffffff;
    color: #000000;
    border-color: #ffffff;
}

.cabecalho__menu__link__pes {
    border: 4px solid;
    border-radius: 09px;
    font-family: var(--texto-primario);
    font-size: 24px;
    width: 300px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.cabecalho__menu__link__net:hover{  
    background-color: red;
    color: var(--cor-primaria);
    border-color: red;
}

.cabecalho__menu__link__net {
    border: 4px solid;
    border-radius: 09px;
    font-family: var(--texto-primario);
    font-size: 24px;
    width: 300px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    color: red;
    text-decoration: none;    
}

.cabecalho__menu__link__hbo:hover{  
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
    border-color: var(--cor-secundaria);
}

.cabecalho__menu__link__hbo {
    border: 4px solid;
    border-radius: 09px;
    font-family: var(--texto-primario);
    font-size: 24px;
    width: 300px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;    
}

.cabecalho__menu__link__dis:hover{  
    background-color: #113ccf;
    color: white;
    border-color: #113ccf;
}

.cabecalho__menu__link__dis {
    border: 4px solid;
    border-radius: 09px;
    font-family: var(--texto-primario);
    font-size: 24px;
    width: 300px;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    color: #113ccf;
    text-decoration: none;    
}

.apresentacao {
    gap: 1500px;
    padding: 2% 0% 5% 5%;
    color: var(--cor-quaternaria);
}

.apresentacao__titulo {
    font-family: var(--texto-secundario);

}

.apresentacao__texto {
    font-family: var(--texto-secundario);   
}

.apresentacao__titulo__filmes {
    font-family: var(--texto-secundario);
    padding: 3% 0% 2%;
}

.apresentacao__section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;


}

.apresentacao__lista__item__img {
    width: 200px;
    height: auto;
    border-radius: 3%;
    
}

.rodape {
    background-color: var(--cor-terciaria);
    text-align: center;
    padding: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--cor-quaternaria);
}